@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    position: relative;
    word-spacing: 1.5px;
    line-height: 1.3em;
}
*:active, *:focus{
    outline: none;
}
html{
    --white:#ffffff;
    --black:#000000;
    --grey:#434d56;
    --dark:#04111d;
    --blue:#0c67c1;
    --lblue:#388bdd;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--grey);
}
a:hover{
    color: var(--lblue);
}
body{
    scroll-behavior: smooth;
    font-family: 'Saira Condensed', sans-serif;
}
body.active .bar .head{
    margin:0;
    width:100%;
}
body.active .headbox{
    margin-left:5%;
    width:1150px;
}
button{
    position:relative;
    border:none;
    margin-top:5px;
    color:#ff3561;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 5px grey;
    text-shadow: 0 0 4px grey;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 5px;
}
header{
    height: 65px;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 var(--grey);
    position: sticky;
    top: 0px;
    padding: 0 30px;
    color: var(--black);
    z-index: 1000;
}
header ul{
    list-style-type: none;
}
hr{
    height: 1px;
    border: none;
    margin: 10px 0;
}
input{
    outline:none;
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    color: var(--grey);
    font-size: 16px;
}
input:focus{
    background:rgba(255,255,255,0.2);
}
label{
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    display: block;
    margin: 5px 0;
}
.blue{
    background-color: var(--blue);
    color: var(--white);
}
.bluetext{
    color: var(--blue);
}
.black{
    color: var(--black);
}
.dark{
    color: var(--dark);
}
.white{
    background-color: var(--white);
    color: var(--dark);
}
.brad50{
    border-radius: 50%;
}
.flexrow{
    display: flex;
    flex-flow: row;
    row-gap: 1.4em;
    column-gap: 0.7em;
    align-items: center;
    flex-wrap: wrap;
    
}
.flexcol{
    display: flex;
    flex-flow: column;
    column-gap: 0.4em;
    row-gap: 0.4em;
    align-items: center;
    flex-wrap: wrap;
}
/*flex align left*/
.flexass{
    align-items: flex-start;
    justify-content: flex-start;
}
/*flex align right*/
.flexaee{
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
}
/*flex align right*/
.flexacs{
    align-items: center;
    justify-content: flex-start;
}
.flexacc{
    align-items: center;
    justify-content: center;
}
.flexace{
    align-items: center;
    justify-content: flex-end;
}
/* Font size */
.xl{
    font-size: 22px;
}
.lg{
    font-size: 20px;
}
.bg{
    font-size: 18px;
}
.md{
    font-size: 16px;
}
.sm{
    font-size: 14px;
}
.xs{
    font-size: 12px;
}
.vspace{
    width: 100%;
    background-color: transparent;
    display: block;
}

