
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');
*{
    margin:0;
    padding:0;    
}
body{
    font-family: 'Saira Condensed', sans-serif;
}
.bar .sidnev{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:100%;
    background:black;
    transition: all 0.5s ease;
}
.bar .sidnev .prof{
    text-align:center;
}
.bar .sidnev .prof img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:15% auto 5% auto;
}
h3{
    display:block;
    margin: 5% auto 2% 55%;
    position:relative;
    margin-bottom:20px;
}
.bar .sidnev ul{
    position:relative;
}
.bar .sidnev ul li{
    position: relative;
}
.bar .sidnev ul li a{
    padding:10px 0 10px 60px;
    display:block;
    position:relative;
    text-decoration:none;
    color: white;
    border-bottom:1px solid white;
}
.bar .sidnev ul li a:hover{
    background-color:white;
    color:black;
    border-bottom:1px solid black;
}
body.active .bar .sidnev{
    left: -300px;
}

.bar .head{
    width:cals(100% - 2250ex);
    margin-left:200px;
    transition: all 0.5s ease;
}
.bar .head .headnev{
    background-color:black;
    height:50px;
    display:block;
}
.bar .head .headnev .log{
    margin-left: -270%;
}
.bar .head .headnev ul{
    list-style-type:none;
    padding-top:12px;
    margin-left:73%;
}
.bar .head .headnev ul li{
    float: left;
    margin:0 10px 0 0;
}
.bar .head .headnev ul li a {
    text-decoration:none;
    color:white;
    display:inline;     
}
body.active .bar .head{
    margin:0;
    width:100%;
}
body.active .headbox{
    margin-left:5%;
    width:1150px;
}

.headbox{
    padding:2px;
    margin-left: 300px;
    width:900px;
    height:500px;
    display:inline-block;
    position:relative;
    background-color:rgb(212, 193, 94);
}

.headbox .box{
    margin:25px 0 0px 35px;
    width:250px;
    height:200px;
    display:block;
    position:relative;
    float: left;
    border:0.5px solid rgba(252, 248, 239, 0.2);
    background:rgba(252, 248, 239, 0.2);
    backdrop-filter: blur (60px);

}

